/* Global Styles */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    line-height: 2.2rem;
}
header,
main {
    max-width: 90vw;
    margin: 0 auto;
}
label,
p {
    font-weight: 300;
    color: #fff;
}
p {
    color: #8c8c8c;
    margin: .5rem 0 3rem;
}
h2 {
    margin-bottom: 0;
}

/* Nav Styles */
nav {
    margin: 0;
    padding: 25px;
    color: #fff;
    background-color: rgb(41, 58, 73);
    text-align: center;
}
h1 {
    text-transform: uppercase;
    margin: 0;
}

/* Header Styles */
header {
    padding: 13px 0 5px;
    text-align: center;
    border-bottom: 3px solid rgb(41, 58, 73); 
}
.header-border {
    border-bottom: 7px solid rgb(41, 58, 73);
}

/* Main Styles */
main {
    background: #b5c6d5;
    border-radius: 12px;
    padding: 10px;
    margin-top: 25px;
}
fieldset {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    border: 0;
}
fieldset:first-child {
    margin: 35px 5px;
    border-bottom: 3px solid rgb(41, 58, 73);
}
fieldset:first-child label,
fieldset:last-child label {
    margin: 25px 0 15px;
}
legend,
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #202d39;
}
::placeholder {
    text-align: end;
    color: #bfbfbf;
    font-style: italic;
}
textarea::placeholder {
    text-align: start;
}
.contact-info {
    display: flex;
    flex-direction: column;
}
input,
select {
    margin: 0;
    padding: 10px 15px;
    font-family: inherit;
    font-size: .8em;
    color: rgb(27, 27, 38);
    width: 100%;
    height: 70px;
    border: 0;
    border-radius: 6px;
    background: #fff;
}
select {
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    border: 3px solid #52bab3;
}
.lstchld input {
    width: 50%;
    margin-bottom: 25px;
}
fieldset:last-child {
    
}
input[type="checkbox"],
input[type="radio"] {
    margin-right: 20px;
    width: 1rem;
    height: 1rem;
    cursor: pointer
}
textarea {
    resize: none;
    background: #fff;
    width: 100%;
    height: 9rem;
    margin: 5px 0 40px;
    padding: 10px;
    border: 0;
    border-radius: 6px;
    font-family: 'Merriweather', serif;
    font-size: .8em;
}
button {
    width: 100%;
    height: 5.5rem;
    padding: 0;
    border: 0;
    border-radius: 6px;
    color: #fff;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background: #52bab3;
    display: inline-block;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    cursor: pointer;
}
button:hover {
    color: #fff;
    background: #378983;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 -3px #fff;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-bottom: 200px;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    color: #8c8c8c;
}
footer p {
    margin-top: 1.6rem;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    header,
    main {
    max-width: 768px;
    }
    .contact-info {
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 0;
    }
    .contact-info label {
        width: 25%;
        height: inherit;
    }
    .contact-info input,
    .contact-info select {
        width: 75%;
    }
    .lstchld input {
        width: 25%;
        margin-right: auto;
    }
}
